body{
    margin: auto;
    width:100%;
    background-color: grey;
}


/*HTML5 Semantic Tags*/
header, footer{
    background-color: black;
    color: #ffffff;
    text-align: center;
    padding:1em 0;
}

main{
    width:960px;
    margin: auto;
    
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}


/* IDs */
#container{
    position: relative;
    min-height: 100vh;
}

#wrapper{
    padding-bottom: 100px;
}

#areaDrawing{
   text-align: center; 
}

#areaCanvas{
    width: 960px;
    height: 700px;
    background-color:#ffffff;
    vertical-align: middle;
    margin:1em auto;
}

.menuItem, .menuItem>img, .dragged, .dragged>img{
    width:60px;
    height:60px;
    border:none;
}

.menuItem{
    float:right;
    margin:5px;
}

#dragzone,#dropzone{
    height:700px;
    background-color: #ffffff;
    border:solid thin #000;
    margin:5px;
    float:left;
}

#dragzone{
    width:140px;
}


#dropzone{
    width:780px;
    background:  #ffffff url("../imgs/SkullVector.svg") no-repeat center;
}

#dumpzone{
    width: 140px;
    height: 140px;
    border:thin dashed #777;
    text-align: center;
    vertical-align: middle;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100pt;
    background-color: #ffffff;
    z-index: 5;
}